@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.main-all-sub-section {
  @apply px-6 lg:px-[34px] 2xl:px-17 py-3.5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer utilities {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme("colors.primary") transparent;
  }

  .scrollbar::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-full hover:bg-primary/90 active:bg-primary/80;
  }

  /* Remove scrollbar arrows */
  .scrollbar::-webkit-scrollbar-button {
    @apply hidden;
  }

  /* Firefox support */
  @supports (scrollbar-color: auto) {
    .scrollbar {
      scrollbar-color: theme("colors.primary") transparent;
    }
  }
}
/* In your global CSS */
.custom-dash {
  border-top: 2px dashed;
  border-image: repeating-linear-gradient(
      90deg,
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    )
    1;
}
